:root {
	--main-font: consolas, ubuntu mono, univers, monospace;
	--main-border-radius: 10px;
	--main-color-1: #FF6766;
	--main-color-2: #97CE68;
	--main-color-3: #4BA6E0;
	--main-color-4: #ffb366;
	--main-shadow: 4px 4px 2px 2px rgba(204,204,204,0.3);
	--main-background: repeating-radial-gradient(#4d4d4d, #333333);
}
* {
    font-family: var(--main-font);
}
body {
	margin: 10px 10px 10px 10px;
	background: var(--main-background);
}

/*WINDOW RESIZE*/
/*if viewport 500px or less*/
@media screen and (max-width: 500px) {
    body {
		margin: 10px;
	}
	#nav ul {
		margin-right: 10px;
	}
}
/*if viewport 1200px or wider*/
@media screen and (min-width: 1200px) {
    body {
		margin: 10px 240px 10px 240px;
	}
	#nav ul {
		margin-right: 250px;
	}
}
