/*SECTION*/
.box {
    margin: 18px 8px 18px 10px;
    padding: 20px;
	background: white;
	border-radius: var(--main-border-radius);
	box-shadow: var(--main-shadow);
	min-width: 400px;
}
h2,.div_icon {
	text-align: center;
}
.div_icon i {
	font-size: 80px;
}
.r .div_icon i {
	color: var(--main-color-1);
}
.g .div_icon i {
	color: var(--main-color-2);
}
.b .div_icon i {
	color: var(--main-color-3);
}
.o .div_icon i {
	color: var(--main-color-4);
}

/*NAVIGATION*/
.nav_box {
	margin: 20px 0px 20px 0px;
	padding: 0px 20px 10px 0px;
	text-align: center;
	border-bottom: solid 1px #8F8F8F;
}
.nav_box span{
	padding-bottom: 6px;
	color: dimgray;
}
.tab:hover{
	cursor:pointer;
}
.tab:hover:not(.selected){
	opacity: 0.5;
}
.r .nav_box span:first-child{
	color:var(--main-color-1);
	border-bottom: solid 5px var(--main-color-1);
}
.g .nav_box span:first-child{
	color:var(--main-color-2);
	border-bottom: solid 5px var(--main-color-2);
}
.b .nav_box span:first-child{
	color:var(--main-color-3);
	border-bottom: solid 5px var(--main-color-3);
}
.o .nav_box span:first-child{
	color:var(--main-color-4);
	border-bottom: solid 5px var(--main-color-4);
}
#info {
	display: none;
	margin: 30px 10px 10px 10px;
}
#info p, ul {
	margin-left: 30px;
}

/*CONTENT*/
section > #info > p:first-of-type:first-letter {
    font-size: 150%;
}
a {
    text-decoration: none;
}
a:visited{
	color:blue;
}
.box a:hover {
	background: white;
}
li {
    margin-left: -20px     
}